* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
    background-color: darkslategrey;
    padding: 10px;
}

.nav-items>ul {
    display: flex;
    gap: 10px;
}

.nav-items>ul>li {
    list-style: none;
    font-size: 18px;
    color: #fff;
}

/* Restaurant Card */

.res-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
    /* height: 300px; */
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-logo {
    max-width: 100%;
}

.search {
    padding: 10px;
}

.res-card h4 {
    font-size: 18px;
    font-weight: 400;
    padding-block: 3px;
    color: rgba(26, 25, 25, 0.63);
}